 body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-size: 12px;
}

body
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	border-color:#808080 #FFFFFF #FFFFFF #808080; 
	border-style:none; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	line-height: 18px;
	font-family: "Arial", "宋体";
	SCROLLBAR-FACE-COLOR: menu; 
    SCROLLBAR-HIGHLIGHT-COLOR: menu; 
    SCROLLBAR-SHADOW-COLOR: #999999; 
    SCROLLBAR-3DLIGHT-COLOR: #777777; 
    SCROLLBAR-ARROW-COLOR: #ffffff;  
    SCROLLBAR-TRACK-COLOR: #dddddd; 
    SCROLLBAR-DARKSHADOW-COLOR: menu
}
.buttonBG {
	BORDER-RIGHT: #888888 1px ridge;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #AAAAAA 1px ridge;
	PADDING-LEFT: 1px;
	FONT-SIZE: 10pt;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #AAAAAA 1px ridge;
	COLOR: #000000;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #888888 1px ridge;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #f1f1f1;
	cursor: hand;
	background-image: url(images/but_BG.jpg);
}
.div
{
	SCROLLBAR-FACE-COLOR: menu; 
    SCROLLBAR-HIGHLIGHT-COLOR: menu; 
    SCROLLBAR-SHADOW-COLOR: #999999; 
    SCROLLBAR-3DLIGHT-COLOR: #777777; 
    SCROLLBAR-ARROW-COLOR: #ffffff;  
    SCROLLBAR-TRACK-COLOR: #dddddd; 
    SCROLLBAR-DARKSHADOW-COLOR: menu
}
BODY {
	FONT-SIZE: 12px;  MARGIN: 0px; COLOR: #000000; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
 
.table
{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
DIV.Head_TD{	
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
	background-color:#D0E8FF;
	font-weight:bold;
	color: #000000;	
}
.Head_TD 
{	
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
	background-color:#D0E8FF;
	font-weight:bold;
	color: #000000;	
}
.Row_TD
{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
    background-color:#EAFBFF;
}
DIV.Row_TD
{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
    background-color:#FAFBFF;
}
.Alt_Row_TD{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	background-color:White;
}
DIV.Alt_Row_TD
{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	background-color:White;
}
.HightRow_TD{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	background-color:#F0F0F0;
}
DIV.HightRow_TD
{
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	background-color:#F0F0F0;
}
 .blue{color: #0000FF;}
A.blue:link{color: #0000FF;}
A.blue:hover{color: #0000FF;}
A.blue:visited{color: #0000FF;}
A.blue:active{color: #0000FF;}

A:link {
	COLOR: #0000FF;TEXT-DECORATION: none;
}
A:visited {
	COLOR: #0404ee;TEXT-DECORATION: none;
}
A:hover {
	COLOR: #FF0000;TEXT-DECORATION: underline;
}
A:active {
	COLOR: #aa0000; TEXT-DECORATION: underline;
}
A.unline:link {
	COLOR: #0000AA; TEXT-DECORATION: none
}
A.unline:visited {
	COLOR: #0000AA; TEXT-DECORATION: none
}
A.unline:hover {
	COLOR: #ff0000; BORDER-BOTTOM: #ff0000 1px inset; TEXT-DECORATION: none
}
A.unline:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.RedLink:link {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #ff0000; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
A.RedLink:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.RedLink:hover {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; TEXT-DECORATION: underline
}
A.RedLink:active {
	COLOR: #000000; TEXT-DECORATION: underline
}

TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%
}
TD.smell {
	FONT-SIZE: 9pt; LINE-HEIGHT: 100%
}
.TEXTAREA {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #efefef
}
.TableLine {
	BORDER-COLLAPSE: collapse
}


.txt {
	FONT-SIZE: 9pt;
	HEIGHT: 13px;
	background: #B86715;
	color: #FFFF00;
	border: outset #AC510A;
}
.btxt {
	FONT-SIZE: 9pt;
	 HEIGHT: 20px;
	background: #B86715;
	color: #FFFF00;
	border: outset #AC510A;
}

.T9 {
	COLOR: #000099
}
.T7 {
	COLOR: #777777
}
.TR {
	COLOR: red
}
.TB {
	COLOR: blue
}
.TRU {
	COLOR: red; TEXT-DECORATION: underline
}
.hand {
	CURSOR: hand
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
 
.bottom {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.bottom:link {
	COLOR: #ffffff
}
.bottom:visited {
	COLOR: #ffffff
}
.bottom:hover {
	COLOR: #ff0000
}


table.PageStyle 
{
   BACKGROUND-COLOR: LightBlue ;   
   width:expression(document.getElementById('GridView').offsetWidth-0);
 }
.tableDiv { MARGIN: 0px -16px 0px 0px }
DIV.tableContainer
{
    BACKGROUND-COLOR: #ffffff ;
    width:expression(document.body.offsetWidth-28);
    height:expression(document.body.offsetHeight-100);
}

.tableDiv { MARGIN: 0px -16px 0px 0px }
THEAD.fixedHeader tr { POSITION: relative;  TOP: expression(document.getElementById("tableContainer").scrollTop) }
THEAD.fixedHeader TH { BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center }
THEAD.fixedHeader A { DISPLAY: block; COLOR: #fff; TEXT-DECORATION: none }
THEAD.fixedHeader A:link { DISPLAY: block; COLOR: #fff; TEXT-DECORATION: none }
THEAD.fixedHeader A:visited { DISPLAY: block; COLOR: #fff; TEXT-DECORATION: none }
THEAD.fixedHeader A:hover { DISPLAY: block; COLOR: #fff; TEXT-DECORATION: underline }
.scrollContenttd { BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid }
.th{BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center}

.a1 { background-image: url('T_bg.gif') } 

DIV.explain
{
	position:absolute;
	border-right: #666600 1px solid; 
	border-top: #666600 1px solid;    
    border-left: #666600 1px solid; width: 100px;
    border-bottom: #666600 1px solid;
    margin: 0px; 
	BACKGROUND-COLOR: #ffffdc;  
	FONT-SIZE: 12px; COLOR: #222222;
	
}
 .tag_searchbt{
	background-image: url(../images/qq/bt_tag_search.gif);
	height: 22px;
	width: 50px;
	margin: 0px 3px;
	vertical-align: middle;
	cursor:hand;
}
input.btbg{
	background-image:url(../images/btbg.gif);
	height: 21px;
	width: 45px;
	margin: 3px;
	border: 0px;
	cursor:hand;
} 

input.btbgb{
	background-image:url(../images/btbgb.jpg);
	height: 21px;
	width: 60px;
	margin: 3px;
	border: 0px;
	cursor:hand;
}
input.sbt{
	background-image:url(../images/sbt.jpg);
	height: 20px;
	width: 25px;
	margin: 2px;
	border: 0px;
	cursor:hand;
	background-position: center;
} 
